body {
	background-image: url("tunnel1.jpg");
}

div {
	padding-bottom:30px;
	/*background-color: rgba(85, 107, 47,0.1);*/
}

.details {
    background-color: rgba(146, 167, 167,0.7);
}

h1,h2,h3,h4,h5,p,li {
	color: azure;
}

.carousel-inner img {
	width: 75%;
	height: 75%;
	display: block;
    margin: 0 auto;
}

video {
	display: block;
    margin: 0 auto;
}

.carousel-control-prev,.carousel-control-next {
	color: azure;
}

.form-inline {
	float: right;
}

.controls {
	display: none;
}

.colour2 {
	background-color: rgba(108, 112, 111, 0.7);
}

.des {
	padding-left:50px;
	padding-right:50px;
}

.card {
	padding:top:20px;
	height:600px;
	width:350px;
	background-color: rgb(233, 243, 250);
}


