body {
	background-image: url("tunnel1.jpg");
}

div {
	margin-bottom:60px;
	/*background-color: rgba(85, 107, 47,0.1);*/
}

.details {
    background-color: rgba(146, 167, 167,0.7);
	p {
		color: rgb(167,146,146);
	}
}

h1,h2,h3,h4,h5,p,li {
	color: azure;
}

.carousel-inner img {
	width: 70%;
	height: 70%;
	display: block;
    margin: 0 auto;
}

.carousel-control-prev,.carousel-control-next {
	color: azure;
}

.form-inline {
	float: right;
}

.controls {
	display: none
}

